* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Hat Text", sans-serif;
  background-color: hsl(235, 16%, 14%);
}
img {
  max-width: 100%;
}
ul {
  list-style: none;
}
.starts {
  position: absolute;
}
.hills {
  position: absolute;
  bottom: 0;
}
.wrapper {
  position: relative;
}

@media (min-width: 1600px) {
  .starts img,
  .hills img {
    width: 1920px;
  }
}